body {
    margin: 0;
    background-color: gray;

    min-width: 980px;
}

/* head */
.header {
    background-color: black;
    height: 5%;
    text-align: center;
    font-family: star-font;
    
    min-height: 35px;

    -moz-box-shadow: 10px -3px 15px orange;
    -webkit-box-shadow: 10px -3px 15px orange;
    box-shadow: 1px 3px 15px orange;
    border-bottom: 1px solid orange;
}

.header-logo {
    color: orange;
    font-size: 3.5vw;
    text-shadow: 0px 0.15vw 0.3vw yellow;

    margin: 0;
    padding: 1.5vw 0;
}

@media (max-width: 980px) { 
    .header-logo {
        font-size: 35px;
        text-shadow: 0px 0.15vw 0.3vw yellow;
    }
    .nav-phar {
        font-size: 12px;
    }
}

/* nav */
.nav {
    display: flex;
    background-color: gray;
    border-top: 1px solid orange;
    height: 1.5vw;
    margin: 0;

    min-width: 980px;
    min-height: 20px;
}

.div-nav {
    font-weight: normal;
    border-left: 1px solid black;
    font-size: 1.2vw;
    margin: 0;
}

.nav-phar {
    margin: 0 10px 0 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
    height: 100%;

    transition: color 0.4s;
}

.nav-phar:hover {
    cursor: pointer;
    color: #ffb62e;
}

/* main content */
.content {
    min-height: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 20%;
    height: 25%;
    margin: 2.5% 2.5% 0 2.5%;

    padding: 0.5% 2.5% 0 2.5%;
    background-color: lightgray;
    border: 0.5px solid black;
    padding-bottom: 1%;
}

.card p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2.5%;
    font-size: 1.5em;
    text-decoration: underline;
}


.card-column {
    margin-bottom: 3%;
    background-color: white;
    border: 0.5px solid gray;
}

.card-column p {
    margin: 2%;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    border-bottom: none;
}

/* footer */
.footer {
    background-color: black;
    height: 3%;
    box-shadow: 1px -3px 15px orange;
    border-top: 1px solid orange;
    margin-top: 2%;
}

.footer-copyright {
    text-align: center;
    font-size: 0.8em;
    margin: 0;
    padding: 0.3vw 0;
    color: white;
}
/* fonts */
@font-face {
    font-family: "star-font"; 
    src: url("assets/STARWARS.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

/* service */

.not-display {
    display: none;
}

.flex {
    display: flex;
}